<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
    name="keywords" content="..."> <!--?-->
    <meta
    name="description" content="..."> <!--?-->
    <meta property="og:type" content="website">
    <meta
    property="og:title" content="Спортивна зала GRIFF"> <!--?-->
    <meta
    property="og:description" content="..."> <!--?-->
    <meta
    property="og:image" content="/image/logo-bird.png"> <!--?-->
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="1200">
    <link
    rel="shortcut icon" href="/image/logo-bird.png" type="image/x-icon"> <!--?-->
    <link rel="stylesheet" type="text/css" href="/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <title>Спортивна зала GRIFF</title>
    <!--?-->
  </head>
  <body>
    {% include 'header.njk' %}
    {{ content | safe }}
    {% include 'footer.njk' %}
  </body>
</html>