<footer>
        <div class="wrapper">
            <div class="logo">
                <img src="/image/logo-griff.png" alt="logo" class="logo-griff">
                <img src="/image/logo-bird.png" alt="logo" class="logo-bird">
                <p>СТВОРИ ТІЛО СВОЄЇ МРІЇ</p>
            </div>
            <div class="time">
                <h3>МИ ПРАЦЮЄМО</h3>
                <table>
                    <tr>
                        <td>Пн, Ср, Пт:</td>
                        <td>7-20</td>
                    </tr>
                    <tr>
                        <td>Вт, Чт:</td>
                        <td>8-21</td>
                    </tr>
                    <tr>
                        <td>Cубота:</td>
                        <td>8-18</td>
                    </tr>
                    <tr>
                        <td>Неділя:</td>
                        <td>8-14</td>
                    </tr>
                </table>
            </div>
            <div class="social-media">
                <h3>МИ В СОЦ МЕРЕЖАХ</h3>
                <div class="social-icons">
                    <a href="https://www.instagram.com/griff_sportclub/?utm_medium=copy_link" target="_blank">
                        <img src="/image/Instagram.png" alt="instagram logo">
                    </a>
                    <a href="https://www.facebook.com/groups/GRIFF.SUMY.SPORT/" target="_blank">
                        <img src="/image/Facebook.png" alt="facebook logo">
                    </a>
                    <a href="https://www.tiktok.com/@griff_sportclub" target="_blank">
                        <img src="/image/TikTok.png" alt="tiktok logo">
                    </a>
                </div>
            </div>
            <div class="contacts">
                <h3>КОНТАКТИ</h3>
                <div class="contacts-container">
                    <p>Україна, м. Суми, Пр.Курський, 30/3</p>
                    <p>+38 099 270 57 87</p>
                    <p>hello@trener.sumy.ua</p>
                </div>
            </div>
        </div>
    </footer>
