<header id="header">
        <div class="dark"></div>
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <img src='/image/logo-griff.png' alt="logo" class="logo-griff">
                    <img src='/image/logo-bird.png' alt="logo" class="logo-bird">
                </div>
                <div class="links">
                    <a href="#why">Про клуб</a>
                    <a href="#bot">Тренер в телеграм</a>
                    <a href="#coaches">Тренери</a>
                    <a href="#mission">Місія</a>
                    <a href="#directs">Наші послуги</a>
                    <a href="#signup-form">Реєстрація</a>
                </div>
                <div id="hamburger" class="hamburger">
                    <div class="stick"></div>
                    <div class="stick"></div>
                    <div class="stick"></div>
                </div>
                <div class="contacts">
                    <a href="https://goo.gl/maps/rh6RFN5TiCzogKhD9" target="_blank">Суми, Пр. Перемоги, 30/3</a>
                    <a href="tel:0992705787" class="yellow-block">+38 099 270 57 87</a>
                </div>
            </nav>
            <div class="textContainer">
                <h1>СТВОРИ ТІЛО <span>СВОЄЇ МРІЇ</span></h1>
                <h2>У найатмосфернішому клубі м.Суми.</h2>
                <p class="review">95% опитаних відвідувачів клубу на питання: "Що вам подобаєтсья у Гриффі, чому саме до нас?", відповіли – атмосфера.</p>
            </div>
            <h3>Запишись на перше безкоштовне тренування</h3>
            <a href="#signup-form" class="yellow-block signup btn-event">РЕЄСТРАЦІЯ</a>
        </div>
    </header>
