<header id="header">
        <div class="dark"></div>
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <img src='/image/logo-griff.png' alt="logo" class="logo-griff">
                    <img src='/image/logo-bird.png' alt="logo" class="logo-bird">
                </div>
                <div class="links">
                    <a href="#why">Про клуб</a>
                    <a href="#bot">Тренер в телеграм</a>
                    <a href="#coaches">Тренери</a>
                    <a href="#mission">Місія</a>
                    <a href="#directs">Фітнес напрямки</a>
                    <a href="#signup-form">Реєстрація</a>
                </div>
                <div id="hamburger" class="hamburger">
                    <div class="stick"></div>
                    <div class="stick"></div>
                    <div class="stick"></div>
                </div>
                <div class="contacts">
                    <p>Суми, Пр. Курський, 30/3</p>
                    <a href="tel:0992705787" class="yellow-block">+38 099 270 57 87</a>
                </div>
            </nav>
            <h1>СТВОРИ ТІЛО <span>СВОЄЇ МРІЇ</span></h1>
            <h3>Перше тренування безкоштовно</h3>
            <a href="#signup-form" class="yellow-block signup btn-event">РЕЄСТРАЦІЯ</a>
        </div>
    </header>