---
title: Спортивна зала GRIFF
layout: 'base.njk'
---

    <div id="navMobile">
        <div class="wrapper">
            <div id="exit">
                <div class="stick"></div>
                <div class="stick"></div>
            </div>
            <a href="#why">Про клуб</a>
            <a href="#bot">Тренер в телеграм</a>
            <a href="#coaches">Тренери</a>
            <a href="#mission">Місія</a>
            <a href="#directs">Фітнес напрямки</a>
            <a href="#signup-form">Реєстрація</a>
        </div>
    </div>

    <a href="#header" class="top-button">
        <img src="/image/left.svg" alt="top-arrow">
    </a>

    <div id="directionPopup" class="none">
        <div class="wrapper"></div>
        <div id="exit">
            <div class="stick"></div>
            <div class="stick"></div>
        </div>
        <div class="directionSection">
            <div class="directionContainer">
                <div class="image" style="background-image: url(/image/unloaded.png)"></div>
                <div class="textContainer">
                    <h2>There must be a direct article</h2>
                    <p>There must be a text description</p>
                </div>
            </div>
        </div>
    </div>


        <section id="bot" class="bot hidden">
            <div class="wrapper">
                <h2 class="title">ВІРТУАЛЬНИЙ ТРЕНЕР <span>GRIFF</span> В ТЕЛЕГРАМ</h2>
                <p>Ми створили бот, який покроково дозволить вам створити рельєф тіла для певної мети.<br>Оберіть в меню
                    бота напрямок і він продемонструє, як правильно виконувати вправи, скільки, і в якій
                    послідовності.<br>Ми впевнені, що такий бот суттєво облегшить тренування, або   замінить роботу персонального тренера.<br>В разі, якщо
                    ви хочете особистого супровода наших тренерів, скористайтесь такою можливістью. Вони всі
                    мають високу фахову підготовку та нагороди.</p>
                <div class="owl-two owl-carousel manual">
                    <div class="step">
                        <div class="num">1</div>
                        <img src="/image/hand.png" alt="hand">
                        <p>Приходь в зал з<br>телефоном</p>
                    </div>
                    <div class="step">
                        <div class="num">2</div>
                        <img src="/image/qr-code.png" alt="qr-code">
                        <p>Відскануй<br>QR код</p>
                    </div>
                    <div class="step">
                        <div class="num">3</div>
                        <img src="/image/hand.png" alt="bot">
                        <p>Почни<br>тренування</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="why" class="why hidden">
            <div class="pink"></div>
            <div class="wrapper">
                <h2 class="title">Чому обирають <span>Griff</span></h2>
                <div class="why-container">
                    <div class="content hidden">
                        <img src="/image/icon-target.svg" alt="icon-target">
                        <p>Велике приміщення:
                            Тренажерний зал - 900 кв. м,
                            Фітнес зал 80 кв. м.
                        </p>
                    </div>
                    <div class="content hidden">
                        <img src="/image/icon-target.svg" alt="icon-target">
                        <p>Кросфіт зона –  професійна станція, сани, гребля, покришка з кувалдою, 2 канати, 3 боксерські груші та інший
                            інвентар.
                        </p>
                    </div>
                     <div class="content hidden">
                        <img src="/image/icon-target.svg" alt="icon-target">
                        <p>Зручно розташовані 50 тренажерів з вільною вагою, та тренажери з блинами на всі групи м'язів;</p>
                    </div>
                    <div class="content hidden">
                        <img src="/image/icon-target.svg" alt="icon-target">
                        <p>
                        Більше пів тонни зручних блинів, які легко брати зі стійки, або навіть з підлоги.
                        </p>
                    </div>
                    <div class="content hidden">
                        <img src="/image/icon-target.svg" alt="icon-target">
                        <p>Окрема кардіо зона – 6 бігових доріжок, орбітрек, спінбайк, велотренажер.
                        </p>
                    </div>
                    <div class="content hidden">
                        <img src="/image/icon-target.svg" alt="icon-target">
                        <p>2 просторі роздягальні та 9 душових.
                        </p>
                    </div>
                    <div class="content hidden">
                        <img src="/image/icon-target.svg" alt="icon-target">
                        <p>Відокремлена зона з гантелями:
                            2 гантельні ряди,
                            від 1 до 10 і від 11 до 50 кг.
                        </p>
                    </div>
                    <div class="content hidden">
                        <img src="/image/icon-target.svg" alt="icon-target">
                        <p>Масажний кабінет, інфрачервона сауна.</p>
                    </div>
                    <div class="content hidden">
                        <img src="/image/icon-target.svg" alt="icon-target">
                        <p>Обширний фітнес бар</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="coaches" class="coaches hidden">
            <div class="wrapper">
                <h2 class="title">Наші тренери</h2>
                <div class="owl-one owl-carousel owl-theme wrapper">

                    {%- for coach in collections.coaches -%}
                        <div class="coach">
                            <div class="coach-photo" style="background-image: url({{ coach.data.image }});">
                                <div class="hover-group">
                                    <h4>{{ coach.data.fullName }}</h4>
                                    {% if coach.data.about.length %}
                                        <h4>Про тренера</h4>
                                        <p>{{ coach.data.about | safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <p>{{ coach.data.title | safe}}</p>
                        </div>
                    {%- endfor -%}
                    
                </div>
            </div>
        </section>

        <section id="mission" class="mission hidden">
            <div class="wrapper">
                <h2 class="title">Місія <span>Griff</span></h2>
                <div class="mission-container">
                    <div class="p-container">
                        <p>Головна мета GRIFF — надати простір, де ви зможете створити тіло своєї мрії, знайти однодумців, або родину
                            спортсменів, які будуть вас мотивувати на шляху.</p>
                        <p>Ми також ставимо за мету розвивати сучасні напрямки активностей, які так подобаються різним
                            віковим групам - це і стретчінг, фітнес-мікс, TRX, тренування за системою Табата, дитячий фітнес.</p>
                        <p>В нашому клубі ми зібрали зіркову команду тренерів, що нададуть вам консультації, і щодо тренувань, техніки виконання та
                            харчування.</p>
                    </div>
                    <img src="/image/ruslan-ira.png" alt="ruslan-ira">
                </div>
            </div>
        </section>

        <section id="directs" class="directs hidden">
            <div class="wrapper">
                <h2 class="title">Напрямки клубу <span>Griff</span></h2>
                <div class="all-directs">
                    
                    {%- for direct in collections.direct -%}
                        <div id="direction">
                            <div style="background-image: url({{ direct.data.image }})"></div>
                            <p>{{ direct.data.title }}</p>
                            <p class="description none">{{ direct.data.description | safe }}</p>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </section>

        <section id="signup-form" class="signup-form">
            <div class="pink"></div>
            <div class="content">
                <h2 class="title">РЕЄСТРАЦІЯ НА БЕЗКОШТОВНЕ ЗАНЯТТЯ В <span>GRIFF</span></h2>
                <form name="ContactUs" method="POST" action="/confirmForm" data-netlify="true">
                    <input type="text" name="name" placeholder="Ваше ім'я" required>
                    <input type="text" name="phone" placeholder="Телефон" required>
                    <button type="submit" class="yellow-block btn-event">РЕЄСТРАЦІЯ</button>
                </form>
            </div>
        </section>
